*.Jetbrains
Jetbrains
exercism
github-copilot
menu.sh
xbuild
Microsoft\VisualStudio Services 
raycast/
asciinema
fish                            
yarn
NuGet
configstore
gh
jgit
stetic
.DS_Store
.mono
fish
jgit
yarn
configstore
exercism
iterm2
lf
lsd

